.schriften
{
    font-family: "Comic Sans MS", "Comic Sans";
}

main
{
    background-image: url("Bilder/paradies.jpg");
}

h1
{
    font-weight: bold;
}

#b_koffer
{
    width: 100px;
    height: 100px;
}