html{
    height: 100%;
}
body{
    height: 100%;
    width: 100%;
    display: table;
    table-layout: fixed;
    background-color: lightgray;
    background-image: url(../Bilder/backgroundIndex.jpg);
    color:black;
}

#leitspruch
{
    font-weight: bold;
    color: red;
}
#navbar{
    margin: 5px;
}
#footer-img{
    width: 100px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
head,footer{
    display: table-row;
}
footer{
    width: 100%;
    background-color:grey;
    margin: 5px;
    border-radius: 10px;
}
main{
    display: table-row;
    height: 100%;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
#test {
    text-align: center;
    font-size: 24px;
}
#pictureYesOrNo{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 350px;
    height: 220px;
}
#Text3{
    text-align: center;
    font-size: 20px;
}
#boxen{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.card{
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
}
